<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.italiando">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Italiando">
        <activity android:name=".GeographyOrLiteratureQuizActivity" />
        <activity android:name=".FinalResultActivity" />
        <activity android:name=".MathQuizActivity" />
        <activity android:name=".EditPasswordActivity" />
        <activity android:name=".HistoryActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RuleActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".QuizOptionActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>